@using Roles = BugTracker.Models.Roles

<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/dashboard" class="logo">
            <span>
                <img src="~/images/DTLogo-light.png" alt="" height="20">
            </span>
            <i>
                <img src="~/images/logo-sm.png" alt="" height="22">
            </i>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="navbar-right d-flex list-inline float-right mb-0">
        
            <li class="dropdown notification-list">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/images/users/user-4.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a>
                       
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="@Url.Action("LogOff","Account")"><i class="mdi mdi-power text-danger"></i> Logout </a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>

<div class="right side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                
                @if (User.IsInRole(Roles.CanManageUsers))
                {

                    <li class="menu-title">Administration</li>
                    <li>
                        <a href="/" class="waves-effect">
                            <a href="@Url.Action("Index", "Dashboard")" class="waves-effect"><i class="mdi mdi-view-dashboard"></i><span> Dashboard </span></a>

                        </a>
                    </li>


                    <li>
                        <a href="@Url.Action("Index", "ManageUsers")" class="waves-effect"><i class="fas fa-user-plus"></i><span> Role Assignment </span></a>
                    </li>

                }


                <li class="menu-title">Components</li>
                <li>
                    <a href="@Url.Action("Index", "Project")" class="waves-effect"><i class="fas fa-cubes"></i><span> Projects </span></a>
                </li>


                <li>
                    <a href="@Url.Action("Index", "Ticket")" class="waves-effect"><i class="mdi mdi-checkbox-multiple-marked-outline "></i><span> My Tickets </span></a>
                </li>


            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>


